@mixin takeUpParent
	width: 100%
	height: 100%

body
	position: fixed
	@include takeUpParent
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

	#root
		@include takeUpParent

		.App
			@include takeUpParent

			#content
				@include takeUpParent

				.simulatorScreen
					background-color: yellow
